body {
    font: 75% georgia, sans-serif;
    line-height: 1.88889;
    margin: 0;
    padding: 10px;
}

a:link {
    font-weight: bold;
    color: #6020a1;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #6020a1;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}

table {
    border-spacing: 0;
    border-style: groove;
    border-width: 4px 0 0 4px;
    border-color: #cdbff1;
    color: #6020a1;
}

td {
    text-align: left;
    line-height: 23px;
    padding: 5px;
    border-style: groove;
    border-width: 0 4px 4px 0px;
    border-color: #cdbff1;
}

tr:hover, tr:focus, tr:active {
    background-color: yellow;
}

th {
    height: 28px;
    line-height: 28px;
    font-weight: normal;
    text-align: center;
    font-weight: bolder;
    border-style: groove;
    border-width: 0 4px 4px 0px;
    border-color: #cdbff1;
    background-color: #e5def5;
}

#retrieveInfo {
    text-align: right;
}

#txtDescription {
    width: 100%;
    height: auto;
    min-height: 50px;
}

.regularExpressions {
    color: red;
}

.hidden {
    display: none !important;
}
